<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267166354249-smd2sf1ahgtjabd5502hfgkfi4rhjd4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267166354249-smd2sf1ahgtjabd5502hfgkfi4rhjd4p</string>
	<key>API_KEY</key>
	<string>AIzaSyA1m5Fo3uSVPMOGygEeSWZCEFZy4yKd-zk</string>
	<key>GCM_SENDER_ID</key>
	<string>267166354249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app8964</string>
	<key>PROJECT_ID</key>
	<string>backend2023mis</string>
	<key>STORAGE_BUCKET</key>
	<string>backend2023mis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267166354249:ios:c164b29baf0d10e8d62898</string>
</dict>
</plist>